body{
    background-color: #145DA0;
    color: #B1D4E0;
    font-family: 'Comic Sans MS';
}
.area {
    background: #2E8BC0;
    height: 550px;
    width: 550px;
}

.box {
    background: #0C2D48;
    position: relative;
    height: 180px;
    width: 180px;
}
a{
    color: #B1D4E0;
}