html{
    background-color: rgb(130, 165, 230);
}
body{
    border-radius: 15px;
    background-color: rgb(191, 206, 235);
    display: grid;
    box-shadow: 0px 0px 5px black;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "head head head "
        ". main . "
        "footer footer footer";
}
div{
    box-shadow: 0px 0px 50px rgb(10, 20, 95);
    margin: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 255);
}
div:hover{
    background-image:url(https://static.wikia.nocookie.net/surrealmemes/images/0/09/Meme_Man_HD.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orangered;
    box-shadow: 0px 0px 50px rgb(255, 255, 0);
    transition: 10s;
    transform: scale(0.2) rotate(720deg)  translatex(150px) translateY(-650px);
}
main{
    background-color: rgb(8, 118, 245);
    grid-area: main;
}
header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-area: head;
    background-color: rgb(61, 95, 158);
}
footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-area: footer;
    background-color: rgb(20, 62, 141);
}
a{
    color: rgb(191, 206, 235);
}